/* // // // // // // // // // // */
/* BASE & RESET */

:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-red: hsl(0, 100%, 68%);
    --color-red-dark: hsla(0, 47%, 51%, 1);
    --color-dark-blue: hsl(230, 29%, 20%);
    --color-dark-gray-blue: hsl(230, 11%, 40%);
    --color-gray-blue: hsl(231, 7%, 65%);
    --color-light-gray-blue: hsl(207, 33%, 95%);
    --color-light-gray: hsla(210, 26%, 93%, 1);
    --color-dark-blue-15: hsla(231, 30%, 20%, 0.15);
    --font-barlow: "Barlow", sans-serif;
    --font-cond: "Barlow Condensed", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
}

/* // // // // // // // // // // */
/* HEADER & NAVBAR */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 564px;
    padding: 38px 32px 0 32px;
    margin: 0 auto 64px auto;
}

.header__logo-link,
.header__logo-link:link,
.header__logo-link:visited {
    display: flex;
    width: 24px;
    height: 24px;
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 50vw;
    height: 425px;

    background-color: var(--color-light-gray-blue);
    border-radius: 0 0 0 60px;
}

@media only screen and (max-width: 767px) {
    .nav {
        display: flex;
        align-items: center;
    }

    .nav__icon-btn {
        display: inline-block;
        cursor: pointer;
        padding: 2px 0;
    }

    .nav__ul {
        text-align: center;

        position: fixed;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;

        width: 83vw;
        background-color: var(--color-white);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 3px;

        display: none;
        padding: 0;
        height: 0;
        transition: height 0.45s, padding 0.45s;
    }

    .nav__li {
        display: none;
        opacity: 0;
        transition: opacity 0.2s;
    }

    .nav__li:not(:last-child) {
        margin-bottom: 24px;
    }

    .nav__li:last-child {
        padding-top: 24px;
        border-top: 1px solid var(--color-dark-blue-15);
    }

    .open-1 .nav__ul,
    .open-1 .nav__li {
        display: block;
    }

    .open-2 .nav__ul {
        padding: 24px;
        height: 233px;
    }

    .open-3 .nav__li {
        opacity: 1;
    }
}

@media only screen and (min-width: 550px) {
    .nav__ul {
        width: 500px;
    }
}

.nav__ul {
    list-style: none;
}

.nav__li {
    font-family: var(--font-cond);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.2px;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--color-dark-blue);
}

.nav__link--login {
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    .header {
        max-width: 1190px;
        padding: 64px 40px 0 40px;
        margin-bottom: 124px;
    }

    .header::after {
        width: 48.95vw;
        height: 427px;
    }

    .nav__icon-btn {
        display: none;
    }

    .nav__ul {
        display: flex;
        align-items: center;
        width: revert;
    }

    .nav__li {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 1px;
    }

    .nav__li:not(:last-child) {
        margin-right: 40px;
    }

    .nav__li:last-child {
        margin-left: 40px;
        position: relative;
    }

    .nav__li:last-child::after {
        content: "";

        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: -43px;

        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color-dark-blue);
        opacity: 0.15;
    }

    .nav__link,
    .nav__link:link,
    .nav__link:visited {
        width: revert;
    }

    .nav__link:hover {
        text-decoration: underline;
    }
}

/* // // // // // // // // // // */
/* MAIN */

.main {
    position: relative;
    padding-bottom: 92px;
}

.wrapper {
    max-width: 562px;
    margin: 0 auto;
}

.img-wrapper {
    overflow: hidden;
    max-width: 546px;
    padding-right: 32px;
    padding: 0 32px 0 8px;
    margin: 0 auto 87px auto;
}

.img {
    width: 506px;
    display: block;
}

.top-box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 16px;
}

.content-wrapper {
    padding: 0 32px;
}

.top-box p:nth-child(1) {
    color: var(--color-white);
    font-family: var(--font-cond);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;

    background-color: var(--color-dark-blue);
    border-radius: 50px;
    padding: 3px 9px 4px 11.5px;
}

.top-box p:nth-child(2) {
    color: var(--color-dark-blue);
    font-family: var(--font-cond);
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 5px;
}

.h1 {
    color: var(--color-dark-blue);
    font-family: var(--font-cond);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    margin-bottom: 16px;
}

.text {
    font-family: var(--font-barlow);
    color: var(--color-dark-blue);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.75;
    margin-bottom: 27px;
}

.bottom-box {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.link,
.link:link,
.link:visited {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-cond);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.933333px;
    text-align: center;

    display: inline-block;
    border-radius: 5px;
    padding: 12px 24px 11px 25px;
    transition: opacity 0.15s;
}

.link:hover {
    opacity: 0.75;
}

.bottom-box p {
    font-family: var(--font-cond);
    color: var(--color-dark-blue);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.5px;
    opacity: 0.5;
}

@media only screen and (max-width: 360px) {
    .content-wrapper {
        padding: 0 24px;
    }

    .top-box p:nth-child(2) {
        letter-spacing: 4px;
    }

    .h1 {
        font-size: 36px;
    }

    .bottom-box p {
        font-size: 12px;

        letter-spacing: 1.6px;
    }
}

@media only screen and (min-width: 900px) {
    .main {
        padding-bottom: 125px;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        max-width: 1190px;
        padding: 0 40px;
    }

    .img-wrapper {
        order: 1;
        overflow: revert;
        max-width: revert;
        padding: 0;
        margin: 0;
        padding-left: 25px;
        width: 50%;
    }

    .img {
        width: revert;
    }

    .content-wrapper {
        max-width: 470px;
        padding: 0;
    }

    .top-box {
        column-gap: 15px;
    }

    .h1 {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 32px;
    }

    .text {
        width: 275px;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 64px;
    }

    .bottom-box {
        column-gap: 24px;
    }

    .link,
    .link:link,
    .link:visited {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.06667px;
        padding: 15px 32px 14px 33px;
    }

    .bottom-box p {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 5px;
    }
}

/* // // // // // // // // // // */
